<section class="travel-box">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single-travel-boxes">
					<div id="desc-tabs" class="desc-tabs">


						<!-- Tab panes -->
						<div class="tab-content">
                               <div role="tabpanel" class="tab-pane fade in active" id="hotels">
								<div class="tab-para">

									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="single-tab-select-box">

											<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="in_ID" data-type="vertical" data-theme="light" data-vanity="edinofri"><a class="LI-simple-link" href='https://id.linkedin.com/in/edinofri?trk=profile-badge'>Edinofri Karizal Caniago</a></div>
											</div><!--/.single-tab-select-box-->
										</div><!--/.col-->
                                        <div class="col-lg-8 col-md-8 col-sm-12">
                                            <div class="about-content single-tab-select-box">
                                                <h2>Hei, I'm Edinofri</h2>
                                                <p>Specialize in Android Developer and also can develop back-end for Android application base on PHP.</p>
                                                <p>Learning something with deeply base on basic concept and open mind with out world about new style for programming.</p>
                                                <hr>
                                                <p>Check my latest activities on <a href="http:\\gitlab.com/edinofri" target="_blank"><button class="btn btn-default"><i class="fab fa-gitlab"></i> Gitlab</button></a></p>
                                            </div>
                                        </div>

									</div><!--/.row-->


								</div><!--/.tab-para-->

							</div><!--/.tabpannel-->

						</div><!--/.tab content-->
					</div><!--/.desc-tabs-->
				</div><!--/.single-travel-box-->
			</div><!--/.col-->
		</div><!--/.row-->
	</div><!--/.container-->

</section>
