<app-header></app-header>

<app-section idname="home" classname="about-us">
	<div class="container" id="profile">
		<div class="about-us-content">
			<div class="row">
				<div class="col-sm-12">
					<div class="single-about-us">
						<div class="about-us-txt">
							<h2 class="animated fadeInUp" style="opacity: 0;">
								Hi, I'm Edinofri Karizal Caniago
							</h2>

						</div><!--/.about-us-txt-->
					</div><!--/.single-about-us-->
				</div><!--/.col-->
				<div class="col-sm-0">
					<div class="single-about-us">

					</div><!--/.single-about-us-->
				</div><!--/.col-->
			</div><!--/.row-->
		</div><!--/.about-us-content-->
	</div><!--/.container-->
</app-section>
<app-profile></app-profile>
<app-section idname="portfolio" classname="service">
	<div class="gallery-details">
		<div class="gallary-header text-center">
			<h2>
				A few recent works
			</h2>
			<p>
				Some apps developed by me
			</p>
		</div><!--/.gallery-header-->
		<div class="packages-content">
			<div class="row">
				<app-single-pack-item name="Solvin" path="/portfolio/solvin">
				</app-single-pack-item>

				<app-single-pack-item name="InGo" path="/portfolio/solvin">
				</app-single-pack-item>

				<app-single-pack-item name="SimpliDots Live Tracking" path="/portfolio/solvin">
				</app-single-pack-item>
			</div>
		</div>
	</div>
</app-section>

<app-section classname="testemonial" idname="toolsnframeworks">
		<div class="gallary-header text-center">
			<h2>
				Tools & Frameworks
			</h2>
		</div><!--/.gallery-header-->
		<div class="packages-content">
			<div class="row">
				<div *ngFor="let t of toolsframeworks" class="col-md-2 text-center add-margin-bot">
					<img src="{{t.image}}" width="100" height="100" >
					<h4 class="add-margin-top">{{t.name}}</h4>
				</div>
			</div>
		</div>
</app-section>

<footer class="footer-copyright">
	<div class="foot-icons ">
		<ul class="footer-social-links list-inline list-unstyled">
	        <li><a href="http://fb.me/tukangbasic" target="_blank" class="foot-icon-bg-1"><i class="fab fa-facebook"></i></a></li>
	        <li><a href="http://twitter.com/tukangbasic" target="_blank" class="foot-icon-bg-2"><i class="fab fa-twitter"></i></a></li>
			<li><a href="http://instagram.com/tukangbasic" target="_blank" class="foot-icon-bg-3"><i class="fab fa-instagram"></i></a></li>
			<li><a href="http://gitlab.com/edinofri" target="_blank" class="foot-icon-bg-4"><i class="fab fa-gitlab"></i></a></li>
	        <li><a href="http://linkedin.com/in/edinofri" target="_blank" class="foot-icon-bg-2"><i class="fab fa-linkedin"></i></a></li>
		</ul>
		<p>© 2018 Theme by <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

	</div>
	<div id="scroll-Top">
		<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true" style="display: inline;"></i>
	</div>
</footer>
