
<!-- main-menu Start -->
<header class="top-area">
	<div class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="logo">
						<a href="index.html">
							edi<span>nofri</span>
						</a>
					</div><!-- /.logo-->
				</div><!-- /.col-->
				<div class="col-sm-10">
					<div class="main-menu">

						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<i class="fa fa-bars"></i>
							</button><!-- / button-->
						</div><!-- /.navbar-header-->
						<div class="collapse navbar-collapse">
							<app-navbar></app-navbar>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.main-menu-->
				</div><!-- /.col-->
			</div><!-- /.row -->
			<div class="home-border"></div><!-- /.home-border-->
		</div><!-- /.container-->
	</div><!-- /.header-area -->

</header><!-- /.top-area-->
<!-- main-menu End -->
