<div class="col-md-4 col-sm-6">

   <div class="single-package-item">
		<div class="pdf-thumb-box">
			<a routerLink="{{path}}">
				<div class="pdf-thumb-box-overlay">
					<span class="fa-stack fa-lg">
						<i class="fa fa-eye fa-stack-1x pdf-thumb-eye"></i>
					</span>
				</div>
				<img src="assets/images/packages/p1.jpg" alt="package-place">

			</a>
		</div>

		<div class="single-package-item-txt">
			<h3 class="text-center">{{name}}</h3>
		</div>

	</div>

</div>
