.LI-badge-container.vertical.light{
    width: 100% !important;
}
.LI-profile-pic-container{
    text-align: center;
}
.LI-profile-pic{
    position: relative !important;
    top:20px !important;
    left: 0 !important;
}
.about-content{
    padding: 20px;
}

.tab-para p{
    font-size: 16px;
    margin-bottom: 20px;
}

.pdf-thumb-box
{
    display:inline-block !important;
    position:relative !important;
    overflow: hidden;

}
.pdf-thumb-box-overlay {

  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;

}
.pdf-thumb-box a{
    color:transparent;
}
.pdf-thumb-box a:hover .pdf-thumb-box-overlay {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
    text-align:center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.58);
    color: #fff;
    width:100%;
    height:100%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

}
.pdf-thumb-box-overlay span {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0
}
.pdf-thumb-box-overlay span i{
    font-size: 32px
}
.add-margin-bot{
    margin-bottom: 10px !important;
}

.add-margin-top{
    margin-top: 10px !important;
}
.foot-icon-bg-4{
    background-color: orangered;
}
