<ul class="nav navbar-nav navbar-right">
    <li class="smooth-menu"><a href="#home">home</a></li>
    <li class="smooth-menu"><a href="#profile">Profile</a></li>
    <li class="smooth-menu"><a href="#portfolio">Portfolio </a></li>
    <li class="smooth-menu"><a href="#toolsnframeworks">Tools & Frameworks</a></li>
</ul>
